body{
    background-color:#819f82;
    font-family: Inter;
    
}
.main {
    margin: 0 auto;
    max-width: 46em;
    background-color: #edfdee;
    border-radius: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    
}

h1{
    text-align: center;
}
.center{
    margin: auto;
    text-align: center;

}

img{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
iframe{
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 736px;
    height: 414px;
}
